<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://psv4.userapi.com/c235031/u355831264/docs/d41/330bb13b7c32/VK_7_38_1680452771.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.vk.vkreborn</string>
				<key>bundle-version</key>
				<string>7.38</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>VK reborn</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
